* {
	margin: 0 auto;
}

body {
	background-color: rgba(220,220,220,1);
	overflow: hidden;
}

canvas {
	position: absolute;
	display: none;
}

#main-overlay {
	position: fixed;
	width:100%;
	height:100%;
	display: none;
	background-color: rgba(220,220,220,1);
}

#mobile-overlay {
	position: fixed;
	width:100%;
	height:100%;
	background-color: rgba(220,220,220,1);
}

#mobile-overlay h1 {
	text-align: center;
	margin-top: 50%;
}

#non-colors {
	float: left;
}

#character-cards {
	border-collapse: collapse;
    margin-top: 5%;
    width: 100%;
    height: 37%;
}

#character-cards tr td {
	border: 2px solid black;
	background-color: white;
}

#players {
	background-color: white;
    border: 2px solid black;
    margin-top: 4%;
    width: 100%;
    height: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#player-cards {
	width:100%;
	height:100%;
	border-collapse: separate;
	border-spacing: 20px;
}

#player-cards td{
	padding: 0;
	border: 5px solid black;
}

#player-cards div.character {
	height:90%;
	width:100%;
	background-color: red;
}

#player-cards div.name {
	height:10%;
	width:100%;
	background-color: black;
}

#colors {
	float: left;
}

#colors table {
	position: relative;
    top: 6%;
    right: 8%;
    float: right;
    background-color: white;
    height: 80%;
    border-collapse: collapse;
}

#colors td {
	border: 2px solid black;
}

#chat-overlay {
	position: fixed; /* Sit on top of the page content */
	width: 300px;
	height: 84%;
	top: 2%;
	bottom:8%;
	right: 0;
	font: 18px "Gill Sans MT", "Lucida Grande", "Arial";
	border-width: 1px;
	border-right-width: 0px;
	border-color: rgba(155,155,155, 1);;
	border-style:solid;
	background-color: rgba(255,255,255,1);
	z-index: 2;
}

div#chat-handle {
	background-color: rgba(155,155,155, 1);
	height:100%;
	width:10px;
	right: 292px;
	position:absolute;
}


div#chat-messages {
	overflow-y: auto;
/*	background-color: rgba(0,110,110, 1);*/
	margin: 1% 2% 0 5%;
	height:calc(100% - 44px);
	position:relative;
}

div#chat-messages ul {
/*	overflow-y: auto;*/
	max-height:100%;
	width:100%;
	list-style-type: none;
	padding: 0;
	position:absolute;
	bottom:0;
}

div#chat-messages ul li {
	font-size: 16px;
	width:98%;
	padding: 1%;
	word-break: break-all;
	position:relative;
	bottom:0;
}

div#chat-messages ul li.join-message {
	font-size:15px;
	color: white;
	background-color:grey;
	border-radius: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

div.chat-form {
/*	background-color: rgba(110,0,110, 1);*/
	position: absolute;
	margin: 0 2% 1% 4%;
	bottom: 0;
	height: 32px;
	width: 100%
}
.chat-form {
	font: 18px "Gill Sans MT", "Lucida Grande", "Arial";
	max-width: 97%;
}
form.chat-form {
	height:100%;
	width:100%;
}
input.chat-form {
	border-style:solid;
	border-width: 1px;
	border-radius: 12px;
	text-indent: 8px;
	height:24px;
	width:98%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
