* {
	margin: 0 auto;
}
.chat-overlay {
	position: fixed; /* Sit on top of the page content */
	/*display: none;  Hidden by default */
	min-width: 300px;
	width: 20%;
	height: 90%;
	top: 2%;
	bottom:8%;
	right: 0;
	font: 18px "Gill Sans MT", "Lucida Grande", "Arial";
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
div.chat-messages {
/*	overflow-y: hidden;*/
/*	background-color: rgba(0,110,110, 1);*/
	margin: 1% 2% 0 2%;
	height:calc(100% - 44px);
	position:relative;
}

div.chat-messages ul {
	overflow-y: auto;
	height:100%;
	width:100%;
	list-style-type: none;
	padding: 0;
}

div.chat-messages ul li {
	font-size: 16px;
	width:98%;
	padding: 1%;
	word-break: break-all;
	position:relative;
	bottom:0;
}


div.chat-form {
/*	background-color: rgba(110,0,110, 1);*/
	position: absolute;
	margin: 0 1% 1% 1%;
	bottom: 0;
	height: 32px;
	width: 98%
}
.chat-form {
	font: 18px "Gill Sans MT", "Lucida Grande", "Arial";
}
form.chat-form {
	height:100%;
	width:100%;
}
input.chat-form {
	vertical-align: middle;
	height:24px;
	width:calc(98% - 34px);
}
button.chat-form {
	vertical-align: middle;
	background: url('http://localhost:3000/img/send-button.png');
	background-size: 100% 100%;
	height:28px;
	width:28px;
}
